$primary: rgb(42, 116, 168);
$primary-dark: rgba(41,129,193,1);



// $enable-gradients: true;
$gradient: linear-gradient(114.49deg, #40D8AB -13.13%, #3A97AB 51.5%, #3355AA 109.74%);



@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

$font-family-sans-serif: 'Poppins';

$input-btn-font-family: 'Poppins', sans-serif;
$btn-font-size: 1.1rem;
$btn-font-weight: 300;
$input-btn-padding-y:         1rem;
$input-btn-padding-x:         3.2rem ;

$input-btn-padding-y-sm:      0.7rem;
$input-btn-padding-x-sm:      2.2rem;
$input-btn-font-size-sm:      1rem;

$input-btn-padding-y-lg:    1.2rem ;
$input-btn-padding-x-lg:      3.7rem ;
$input-btn-font-size-lg:      1.3rem;


$font-size-base: 1rem;
$small-font-size:             1.2rem;

//card
// $card-border-width: 8px;
$card-border-radius:  30px;





body{
    font-family: 'Poppins',sans-serif;
    /* background: rgb(95,161,209);
    background: linear-gradient(90deg, rgba(95,161,209,1) 0%, rgba(69,146,202,1) 46%, rgba(41,129,193,1) 97%); */
}

.nav-item{
    padding: 10px;
    
}

.nav-bg{
    // background: linear-gradient(90deg, rgba(95,161,209,1) 0%, rgba(69,146,202,1) 46%, rgba(41,129,193,1) 97%);;;
    // background: linear-gradient(114.49deg, #40D8AB -13.13%, #3A97AB 51.5%, #3355AA 109.74%);;
    z-index: 10;

}

// .nav-btn{
//     border-radius: 50px;
//     background-color: rgb(255, 255, 255);
//     height: 50px;
//     width: 180px;
//     border: none;
//     font-family: 'Poppins', sans-serif;
//     font-weight: 400;
//     font-size: 1rem;
//     vertical-align: middle;
//     color:rgb(42, 116, 168);

//     &:hover{
//         box-shadow: 0px 3px 20px 3px rgba(255, 255, 255, 0.25);
//     }

// }

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}





.banner-image{
    
	transform: translatey(0px);
	animation: float 4s ease-in-out infinite;
 }
 @keyframes float {
	0% {
		
		transform: translatey(0px);
	}
	50% {
		
		transform: translatey(-30px);
	}
	100% {
		
		transform: translatey(0px);
	}
}


@import '../bootstrap-5.2.0/scss/bootstrap';


.navbar-toggler {
    padding: var(--#{$prefix}navbar-toggler-padding-y) var(--#{$prefix}navbar-toggler-padding-x);
    @include font-size(var(--#{$prefix}navbar-toggler-font-size));
    line-height: 1;
    color: var(--#{$prefix}navbar-color);
    background-color: transparent; // remove default button style
    border: none; // remove default button style
    @include border-radius(var(--#{$prefix}navbar-toggler-border-radius));
    @include transition(var(--#{$prefix}navbar-toggler-transition));
  
    &:hover {
      text-decoration: none;
    }
  
    &:focus {
      text-decoration: none;
      outline: 0;
      box-shadow: 0 0 0 var(--#{$prefix}navbar-toggler-focus-width);
    }
  }



.icon-bg{
    font-size: 42px;
    color: #3A96AB;
    //color: white;
  }

.display-top{
    z-index: 10;
  }

#services {
    background: linear-gradient(114.49deg, rgba(64, 216, 171, 0.15) -23.37%, rgba(58, 151, 171, 0.15) 41.26%, rgba(51, 85, 170, 0.15) 99.5%);
}

  
  //custom buttons

.btn{
    border-radius: 40px;
    border: none;
    font-weight: 400;

}


.btn-primary{
    background-image: $gradient;
    box-shadow: 0px 10px 48px rgba(62, 198, 170, 0.4);

    &:hover{
        box-shadow: 0px 0px 52px #3EC6AA;
    }

}

.btn-light {
    background-color: rgb(255, 255, 255);
    color:rgb(42, 116, 168);

    &:hover{
        box-shadow: 0px 3px 20px 3px rgba(255, 255, 255, 0.25);
        color:rgb(42, 116, 168);
        background-color: rgb(255, 255, 255);
        border: none

        
    }
}

.custom-card{
    border-radius: 30px;
    border: solid 6px transparent;
    background-image: linear-gradient(white,white), 
    linear-gradient(114.49deg, #40D8AB -13.13%, #3A97AB 51.5%, #3355AA 109.74%);;
    background-origin: border-box;
    background-clip: content-box, border-box;
    background-color: #fff;
    height: auto;
    width: fit-content;
}


//experience
.eduexp {
  position: relative;
}

.eduexp::before {
  content: '';
  height: 100%;
  width: 2px;
  background-color: #3A96AB;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 50px;
}

.eduexp::after {
  content: '';
  width: 14px;
  height: 14px;
  background-color: #3A96AB;
  position: absolute;
  left: -7px;
  top: 0;
  border-radius: 50px;
}



  @import 'custom/fonts';
  @import 'custom/background';