.hero-container {
    //background: #FFEEEE;
    /* fallback for old browsers */
    //background: -webkit-linear-gradient(to right, #DDEFBB, #FFEEEE);
    /* Chrome 10-25, Safari 5.1-6 */
    //background: linear-gradient(to right, #DDEFBB, #FFEEEE);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    min-height: 100vh;
    background-color: #8BC6EC;
    background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);

}