.btn{
    padding: 14px 24px;
    border-radius: 32px;

    &-light{
        background-color: white;
        color: $primary;
        transition: ease-in-out 200ms;
        border: none;

        &:hover{
            background-color: $primary;
            color: white;
            border: 1px solid white;
        }
    }

    &-link{
        &-light{
            color: white;
        }
    }
}