.btn{
    padding: 14px 24px;
    border-radius: 32px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    &-primary {
        color: white;
        background-color: var(--primary-text);

        &:hover {
            color: white;
        }
    }

    &-light{
        background-color: white;
        color: var(--primary-text);
        transition: ease-in-out 200ms;
        border: none;

        &:hover{
            background-color: #fefefe;
            color: var(--primary-text);
        }
    }

    &-link{
        &-light{
            color: white; 
        }
        &:hover {
                transform: none;
            }
    }

    &:not(.btn-link):hover {
        transform: rotate(-2deg) scale(1.03);
        box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    }
}