* {
  // margin: 0px;
  // padding: 0px;
  box-sizing: border-box;
}


body {
  //height: 100vh;
  // background-color: #8BC6EC;
  // background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%);
  //background-attachment: fixed;
}

.text-gradient-primary {
  background: var(--hero-gradient);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.text-custom-primary {
  color: var(--primary-text);
}

.gradient-bg {
  background: var(--hero-gradient);
  background-attachment: fixed;
  background-size: 250% 250%;
  animation: gradientFlow 10s ease infinite;
}

@media (min-width: 992px) {
  .w-lg-75 {
    width: 75% !important;
  }
}

.custom-tag {
  border: 2px solid var(--primary-text);
  padding: 4px 12px;
  font-size: 12px;
  color: var(--primary-text);
  border-radius: 16px;
}


@keyframes levitate {
  0% {
    transform: translateY(0px) scale(1);
  }

  50% {
    transform: translateY(-50px) scale(1.02);
    /* floats & grows slightly */
  }

  100% {
    transform: translateY(0px) scale(1);
  }
}

@keyframes gradientFlow {
  0% {
    background-position: 0% 50%;
  }

  25% {
    background-position: 50% 100%;
  }

  50% {
    background-position: 100% 50%;
  }

  75% {
    background-position: 50% 0%;
  }

  100% {
    background-position: 0% 50%;
  }
}