body{
    font-family: 'Poppins',sans-serif;
    overflow-x: hidden;
    /* background: rgb(95,161,209);
    background: linear-gradient(90deg, rgba(95,161,209,1) 0%, rgba(69,146,202,1) 46%, rgba(41,129,193,1) 97%); */
}


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
