


.nav-item{
    padding: 10px;
    
}

.nav-bg{
    // background: linear-gradient(90deg, rgba(95,161,209,1) 0%, rgba(69,146,202,1) 46%, rgba(41,129,193,1) 97%);;;
    // background: linear-gradient(114.49deg, #40D8AB -13.13%, #3A97AB 51.5%, #3355AA 109.74%);;
    z-index: 10;

}

.navbar-toggler {
    padding: var(--#{$prefix}navbar-toggler-padding-y) var(--#{$prefix}navbar-toggler-padding-x);
    @include font-size(var(--#{$prefix}navbar-toggler-font-size));
    line-height: 1;
    color: var(--#{$prefix}navbar-color);
    background-color: transparent; // remove default button style
    border: none; // remove default button style
    @include border-radius(var(--#{$prefix}navbar-toggler-border-radius));
    @include transition(var(--#{$prefix}navbar-toggler-transition));
  
    &:hover {
      text-decoration: none;
    }
  
    &:focus {
      text-decoration: none;
      outline: 0;
      box-shadow: 0 0 0 var(--#{$prefix}navbar-toggler-focus-width);
    }
  }

