
    swiper-container {
      width: 100%;
    }

    swiper-slide {
      background-position: center;
      background-size: cover;
      width: 60%;
      max-height: 500px;
    }

    swiper-slide img {
      display: block;
      width: 100%;
    }