$primary: rgb(42, 116, 168);
$primary-dark: rgba(41,129,193,1);

// $enable-gradients: true;
$gradient: linear-gradient(114.49deg, #40D8AB -13.13%, #3A97AB 51.5%, #3355AA 109.74%);


$font-family-sans-serif: 'Poppins';

$input-btn-font-family: 'Poppins', sans-serif;
$btn-font-size: 1.1rem;
$btn-font-weight: 300;
$input-btn-padding-y:         1rem;
$input-btn-padding-x:         3.2rem ;

$input-btn-padding-y-sm:      0.7rem;
$input-btn-padding-x-sm:      2.2rem;
$input-btn-font-size-sm:      1rem;

$input-btn-padding-y-lg:    1.2rem ;
$input-btn-padding-x-lg:      3.7rem ;
$input-btn-font-size-lg:      1.3rem;

$font-size-base: 1rem;
$small-font-size:             1.2rem;

//card
// $card-border-width: 8px;
$card-border-radius:  30px;