


h1 {
    font-size: 4.375rem;
    line-height: 3.75rem;
    font-weight: 700;
    margin-bottom: 1.25rem;
    
}

h2 {
    font-weight: 600;
    font-size: 3rem;
    line-height: 3.4375rem;
    margin-bottom: 1.5625rem;
    color: #004678;
    
   
}

h3 {
    font-weight: 600;
    font-size: 2.25rem;
    line-height: 3.125rem;
    margin-bottom: 0.9375rem;
    color: #004678;
    
    
}

h4 {
    font-weight: 600;
    font-size: 1.8rem;
    // line-height: 3.125rem;
    margin-bottom: 0.9375rem;
    color: #004678;
    
    
}

h5 {
    font-weight: 600;
    font-size: 1.3rem;
    
    // margin-bottom: 2.1875rem;
    color: #004678;
    
}

p {
    
    font-size: 1.2rem;
    line-height: 1.625rem;
    font-weight: 500;
    color: #042B47;
    ;
}

@media (max-width: 1199.5px) {
    h1 {
        font-size: 3.75rem;
    }

    h2 {
        font-size: 2.1875rem;
    }

    h3 {
        font-size: 1.875rem;
        line-height: 2.6875rem;
    }

    h5 {
        font-size: 1.0625rem;
    }

}

@media (max-width: 767px) {

    /* custom css */
    section {
        padding: 5rem 0;
    }

    h1 {
        font-size: 2.5rem;
        line-height: 3rem;
    }

    h2 {
        font-size: 1.875rem;
        line-height: 2.375rem;
    }

    h3 {
        font-size: 1.5625rem;
        line-height: 2.1875rem;
    }
    p {
        font-size: 1.1rem;
    }
}